In [26]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [27]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dikson,73.5069,80.5464,34.30,93,100,14.36,RU,2021-07-15 19:42:56
1,1,Faanui,-16.4833,-151.7500,79.61,73,72,19.98,PF,2021-07-15 19:42:56
2,2,Vaini,-21.2000,-175.2000,71.76,94,75,10.36,TO,2021-07-15 19:42:56
3,3,Arraial Do Cabo,-22.9661,-42.0278,82.36,61,40,9.22,BR,2021-07-15 19:42:56
4,4,La Rioja,42.2500,-2.5000,62.38,79,6,3.33,ES,2021-07-15 19:42:57

In [28]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [29]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [30]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [31]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Faanui,-16.4833,-151.7500,79.61,73,72,19.98,PF,2021-07-15 19:42:56
3,3,Arraial Do Cabo,-22.9661,-42.0278,82.36,61,40,9.22,BR,2021-07-15 19:42:56
12,12,Tiznit,29.5833,-9.5000,79.90,39,0,3.83,MA,2021-07-15 19:42:58
13,13,Iguape,-24.7081,-47.5553,76.33,58,100,2.57,BR,2021-07-15 19:42:59
17,17,Sibu,2.3000,111.8167,77.31,94,40,1.01,MY,2021-07-15 19:43:00
21,21,Hambantota,6.1241,81.1185,79.48,81,100,14.88,LK,2021-07-15 19:43:01
25,25,Albany,42.6001,-73.9662,87.67,68,57,4.12,US,2021-07-15 19:43:02
30,30,Hithadhoo,-0.6000,73.0833,82.20,76,72,10.80,MV,2021-07-15 19:43:03
32,32,Andalan,5.9594,121.3903,77.56,85,100,6.82,PH,2021-07-15 19:43:04
36,36,Dicabisagan,17.0818,122.4157,77.97,88,99,3.69,PH,2021-07-15 19:43:05

In [37]:
preferred_cities_df.count()

City_ID       216
City          216
Lat           216
Lng           216
Max Temp      216
Humidity      216
Cloudiness    216
Wind Speed    216
Country       216
Date          216
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1            Faanui      PF     79.61 -16.4833 -151.7500
3   Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
12           Tiznit      MA     79.90  29.5833   -9.5000
13           Iguape      BR     76.33 -24.7081  -47.5553
17             Sibu      MY     77.31   2.3000  111.8167
21       Hambantota      LK     79.48   6.1241   81.1185
25           Albany      US     87.67  42.6001  -73.9662
30        Hithadhoo      MV     82.20  -0.6000   73.0833
32          Andalan      PH     77.56   5.9594  121.3903
36      Dicabisagan      PH     77.97  17.0818  122.4157

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.